
<div class="prod_modal">
  <div class="big-logo">
    <a href="index.php">
      <h3>
        Sản phẩm uy tín từ
        <%= cl_image_tag("logo.png", alt: "Logo") %>
        <span id="name">5 Birds</span>
        <span>Shop</span>
        <sup>tm</sup>
      </h3>
    </a>
  </div>

  <div class="product_modal">

    <div class="product_container">
      <div class="image_container">
        <img src="<%= asset_path "products/" + rand(1..40).to_s + ".jpg" %>">
      </div>
      <div class="product_info">
        <div>
          <h1><%= @product.name%></h1>
          <table>
            <tr class="prod_brand">
              <th>Sản xuất bởi</th>
              <td><%= @product.manufacturer%></td>
            </tr>
            <tr class="prod_inventory">
              <th>Trong kho còn</th>
              <td><%= @product.quantity%> sản phẩm</td>
            </tr>
            <tr class="prod_quantity">
              <th>Số lượng</th>
              <td><input class="input_qty"
                         name="qty"
                         autofocus="autofocus"
                         autocomplete="off"
                         min="1"
                         max="9999"
                         value="1"
                         type="number"></input>
              </td>
            </tr>
            <tr class="prod_price">
              <th>Giá</th>
              <td><%= @product.price%>$</td>
            </tr>
          </table>
        </div>
        <div class='quick_buy_container'>
          <a id=@{{ProductID}}
             data-ProductID=@{{ProductID}}
             data-ProductName=@{{ProductName}}
             data-ProductPrice=@{{ProductPrice}}
             data-ProductImage='@{{image}}'
             data-Quantity='1'
             class='quick_buy_button_details' href="/cart">
            MUA NGAY
          </a>
          <button data-ProductID='@{{ProductID}}'
                  data-ProductName='@{{ProductName}}'
                  data-ProductPrice='@{{ProductPrice}}'
                  data-ProductImage='@{{image}}'
                  data-Quantity='1'
                  class='add_to_card_details'>
            THÊM VÀO GIỎ
          </button>
        </div>
      </div>
    </div>

    <div class="prod_des">
      <h3>Giới thiệu sản phẩm</h3>
      <p><%= @product.description%></p>
    </div>
    <div id="test"></div>
  </div>
  <%= render "layouts/facebook_comment" %>
  <div as="FB" class="fb-comments" data-href= <%= request.original_url %> data-numposts="5"></div>
</div>
