<header class="header">
    <div class="over-lay">
        <div>
            <!--logo-->
            <div class="big-logo">
                <a href="/">
                    <%= image_tag("logo.png", alt: "Logo") %>
                    <div id="logo-text"><h1 id="name">5 Birds</h1>
                        <span>Shop</span>
                        <sup>tm</sup></div>

                </a>
            </div>
            <!--menu-->
            <div id="menu">
                <div class="menu-container">
                  <div class="menu">
                      <ul>
                          <li><a href="/home">Home</a></li>
                          <li><%= link_to "Products", products_path %></li>
                          <% if logged_in? %>
                            <li><%= link_to "Users", users_path %></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Account <b class="caret"></b>
                              </a>

                                <li><%= link_to "Profile", current_user %></li>
                                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                                <li class="divider"></li>
                                <li>
                                  <%= link_to "Log out", logout_path, method: :delete %>
                                </li>
                            </li>
                          <% else %>
                            <li><%= link_to "Log in", login_path %></li>
                          <% end %>

                      </ul>
                  </div>
                </div>
            </div>

            <!--Search-box-->
            <div class="search-box">
                <i class="fa fa-search"
                   aria-hidden="true" id="btn-search"></i>
                <form method="get" action="/search">
                  <div class="input-group" id="adv-search">
                        <input type="text" id="search_text" name="key" placeholder="Search for products"/>
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-primary" id="btn-not-show"></button>
                            </div>
                        </div>
                        <input type="hidden" id="project-id">
                        <p id="project-description"></p>
                  </div>
                </form>
            </div>

            <!-- AutoComplete -->
            <script>
              $('#search_text').autocomplete({
                     source: "products/autocomplete",
                     minLength: 1,
                     select: function (event, ui) {
                        $('#search_text').val(ui.item.value);
                     }
                 });
            </script>

            <!--order-check-->
            <div class="order-box">
                <i class="fa fa-shopping-cart"></i>
            </div>

            <div class="cart">
                <p id="nothing">Nothing has been chosen</p>
            </div>
        </div>
    </div>
</header>
<script>
</script>
